/* index.cs */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Segoe UI", sans-serif;
  background-color: #ffffff;
  color: #333;
}

a {
  text-decoration: none;
}
